*{
    padding: 0px;
    margin: 0px;
}
.header{
    position: sticky;
    top: 0px;
    height: 60px;
    color: antiquewhite;
    background-color: black;
}
.logo{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
    margin: auto 0px;
    height: fit-content;
}
.nav{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 0px;
    height: fit-content;
}
.item{
    display: inline;
    margin: 0px 15px;
}
.item.button>button{
    padding: 10px 20px;
    background: transparent;
    border: 2px solid gold;
    border-radius: 20px;
    color: gold;
}
main{
    padding: 20px;
}
main>*{
    margin-top: 20px;
}
